@model aplicacao_com_service.Models.Convenio

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Convenio</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NomeFantasia)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NomeFantasia)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NomeEmpresa)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NomeEmpresa)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.URL)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.URL)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NomeContato)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NomeContato)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Telefone)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Telefone)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
